body {background-color: lavender}

.header {
    display: flex;
    flex: 100%;
    justify-content: center;
    background-color: pink;
    padding: 5px;
    margin-top: 20px;
}

#myname {
    display: flex;
    flex: 50%;
    font-size: 50px;
    color: white;
    justify-content: center;
}

nav {
    display: flex;
    flex: 50%;
    padding: 25px 40px; 
    justify-content: flex-end;
    align-items: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 15px;
}

.main {
   margin: 0% 8%;
}

.card {
    border: 2px solid red;
    flex: 1 40%;
    position: relative;
    margin: 7px;
    padding: 0px;
    opacity: 0.70;
}