:root {
    --padding: 5%;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.header {
    display: flex;
    flex: 100%;
    justify-content: center;
    background-color: pink;
    padding: 5px;
    margin-top: 20px;
    border-radius: 20px;
}

#myname {
    display: flex;
    flex: 70%;
    font-size: 47px;
    color: white;
    justify-content: center;
    margin: 0% 0%;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#myname img {
    height: 150px;
    width: 150px;
    border-radius: 30px;
    padding: 0% 2%;
    border: 1px solid white;
}

nav {
    display: flex;
    flex: 50%;
    padding: 25px 40px; 
    justify-content: flex-end;
    align-items: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
   display: flex;
   flex-direction: column;
   margin: 0% 15%;
}

.paragraph1 {
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: var(--padding);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    min-width: 100px;
    border-right: 5px solid white;
    padding: 20px;
    margin: 2% 0%;
    color: white;
}

.grid-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.card-main {
    flex: 1 1 100%;
    opacity: 70%; 
    padding: 2% 0% 2% var(--padding);
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 70%;
    flex: 44%;
    padding: 2% 0% 2% var(--padding);
    position: relative;
}

.card-main img {
    display: flex;
    height: 250px;
    width: 100%;
    border: 2px solid black;
}

.card-main img:hover {
    border-color: white;
}

.card img {
    display: flex;
    width: 100%;
    height: 250px;
    border: 2px solid black;
}

.card img:hover {
    border-color: white;
}

h3 {
    margin: 0%;
    padding: 0%;
}

.tag {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 10%;
    border-radius: 5px;
}

#tag {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: var(--padding);
    border-radius: 5px;
}

.contact {
    display: flex;
    flex: 100%;
    justify-content: space-evenly;
}

a {
    color: black;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.contact ul {
    display: flex;
    align-items: center;
    flex: 100%;
    justify-content: space-evenly;
    font-size: 15px;
}

.contact ul>*{
    display: inline-flex;
    padding-left: 20px;
}

footer {
    font-size: 14px;
    text-align: center;
    color: white;
}

p {
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 992px) {
    main {
        margin: 0% 0%;
    }
    #myname {
        font-size: 25px;
    }
    nav a {
        font-size: 15px;
    }
    .contact ul {
        font-size: 10px;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 70%;
        flex: 1 1 100%;
        padding-left: var(--padding);
        position: relative;
    }
}
