:root {
    --padding: 5%;
}


body {
    background-color: lavender;
}

.header {
    display: flex;
    flex: 100%;
    justify-content: center;
    background-color: pink;
    padding: 5px;
    margin-top: 20px;
}

#myname {
    display: flex;
    flex: 50%;
    font-size: 50px;
    color: white;
    justify-content: center;
}

nav {
    display: flex;
    flex: 50%;
    padding: 25px 40px; 
    justify-content: flex-end;
    align-items: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 15px;
}

main {
   display: flex;
   flex-direction: column;
   margin: 0% 15%;
}

/* --------------------------- */


.paragraph1 {
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: var(--padding);
}

.container {
    display: flex;
    justify-content: space-between;
}

.container2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    min-width: 100px;
    border-right: 5px solid white;
    padding: 20px;
    padding-top: 20px;
}

.contact {
    display: flex;
    flex: 100%;
    justify-content: space-evenly;
}

.contact ul {
    display: flex;
    align-items: center;
    flex: 100%;
    justify-content: space-evenly;
    font-size: 15px;
}

.contact ul>*{
    display: inline-flex;
    padding-left: 20px;
}

.grid-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.card-main {
    flex: 1 1 100%;
    opacity: 70%; 
    padding-left: var(--padding);
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 70%;
    flex: 44%;
    padding-left: var(--padding);
    position: relative;
}

.card-main img {
    display: flex;
    height: 250px;
    width: 100%;
    border: 2px solid white;
}

.card-main img:hover {
    border-color: black;
}

.card img {
    display: flex;
    width: 100%;
    height: 250px;
    border: 2px solid white;
}

.card img:hover {
    border-color: black;
}

p {
    margin: 0%;
    padding: 0%;
}

h3 {
    margin: 0%;
    padding: 0%;
}

#tag {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: var(--padding);
}

.tag {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 10%;
}

@media screen and (max-width: 992px) {
    main {
        margin: 0% 0%;
    }
    #myname {
        font-size: 25px;
    }
    nav a {
        font-size: 20px;
    }
}
