body {background-color: lavender}

.header {
    display: flex;
    flex: 100%;
    justify-content: center;
    background-color: pink;
    padding: 5px;
    margin-top: 20px;
}

#myname {
    display: flex;
    flex: 50%;
    font-size: 50px;
    color: white;
    justify-content: center;
}

nav {
    display: flex;
    flex: 50%;
    padding: 25px 40px; 
    justify-content: flex-end;
    align-items: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 15px;
}

.main-container {
   margin: 0% 8%;
}

#test {
   float: left;
   border-right: 5px solid brown;
   min-width: 150px;
}

.aboutme {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 15px;
    min-width: 200px;
    padding: 20px;
}

.grid-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-feature {
    min-height: 500px;
    flex-basis: 100%;
}

.card {
    border: 2px solid blue;
    flex: 1 40%;
    position: relative;
    margin: 7px;
    padding: 0px;
    opacity: 0.70;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
