body {background-color: lavender}

.header {
    background-color: pink;
    padding: 10px;
    margin-top: 30px;
}

#myname {
    font-size: 50px;
    color: white;
}

nav ul li {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    color: white;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.card {
    border: 2px solid blueviolet;
    flex: 1 40%;
    position: relative;
    margin: 7px;
    padding: 0px;
    opacity: 0.70;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
