body {background-color: lavender}

.header {
    display: flex;
    flex: 100%;
    justify-content: center;
    background-color: pink;
    padding: 5px;
    margin-top: 20px;
}

#myname {
    display: flex;
    flex: 50%;
    font-size: 50px;
    color: white;
    justify-content: center;
}

nav {
    display: flex;
    flex: 50%;
    padding: 25px 40px; 
    justify-content: flex-end;
    align-items: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 15px;
}

main {
   display: inline;
}




#aboutme {
    display: flex;
    flex-wrap: wrap;
}

.card-main {
   flex: 1 0 200px;
   padding: 10px;
   text-align: center;
   border-style: solid;
   border-width: 1px;
}

.card {
    flex: 1 0 200px;
    flex-wrap: wrap;
    border: 2px solid blueviolet;
    text-align: center;
    margin: 7px;
    padding: 0px;
    opacity: 70%;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    min-width: 100px;
    border-right: 5px solid red;
    padding: 20px;
}

.contact ul {
    display: flex;
    flex: 100%;
    justify-content: space-evenly;
    font-size: 15px;
}

.contact ul>*{
    display: inline-flex;
    padding-left: 20px;
}

.about {
    display: flex;
    flex-wrap: wrap;
}